body{
background: url(../img/black_batik.jpg);


}

#canvas{
padding: 0;
margin: auto;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
border: 1px solid;
border-radius: 20px;
width: 800px;
height: 500px;
overflow: hidden;
}
.navbar-nav{
	margin:  auto ;

}
.deskripsi::before{
	content: '';
	position: absolute;
	top:-2px;
	left:-2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -1;
}
.deskripsi::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: black;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
	z-index: -2;
	
}
.deskripsi::before,.deskripsi::after{
	background:linear-gradient(235deg,#89ff00,#060c21,#00bcd4); 
	animation: animate 20s linear infinite;
	background-size: 400%;
	
}

@keyframes animate {
	0%
	{
	background-position: 0 0; 
	}
	50%
	{
    background-position: 400% 0;
	}
	100%
	{
    background-position:0 0; 
	}
}
.deskripsi{
padding: 0;
margin: auto;
position: absolute;
top: 700px;
bottom: 740px;
left: 1030px;
right: 0px;
width: 200px;
height: 250px;
background-color: black;
border-radius: 5px;
padding-left: 10px;
color: white;

}

.deskripsi p{

z-index: 5;
text-align: center;
padding: 0;
margin: auto;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 15px;
  width: 100%;
  text-align: center;
}
